<ng-template [ngIf]="!requestError" [ngIfElse]="cityNotFound">
    <section class="details-page-wrapper" *ngIf="weather">
        <div class="details-page-content">
            <button class="back-button" routerLink="/city/{{routeParam}}">
                <i class="uil uil-corner-up-left"></i>
                <span>Back</span>
            </button>
            <app-today-hourly-forecast [weather]="weather"></app-today-hourly-forecast>
            <app-daily-slider [weather]="weather"></app-daily-slider>
        </div>
    </section>
</ng-template>

<ng-template #cityNotFound>
    <app-city-not-found></app-city-not-found>
</ng-template>