/* You can add global styles to this file, and also import other style files */
:root {
    --background-cover: url(/assets/images/blur-day-clear.jpg);
    --background-image: url(/assets/images/day-clear.jpg);
    --background-position: top;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --box-shadow-shape: 1px 10px 20px black;
    --background-color: rgba(0, 0, 0, 0.15);
}

body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}