/* You can add global styles to this file, and also import other style files */
:root {
    --background-cover: url(/assets/images/sun1.jpg);
    --background-image: url(/assets/images/sun1.jpg);
    --background-position: top;
    --background-color: #00000026;
    --text-color: #ffffff;
}

body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}