<div class="current-forecast-wrapper">
    <section *ngIf="weather" class="current-forecast-content">
        <fa-icon [icon]="faHeart" class="heart" [ngStyle]="getHeartColor()"
            (click)="handleOnClickHeartButton()"></fa-icon>
        <app-today-details [weather]="weather" [routeParam]="routeParam" [favoriteCities]="favoriteCities"
            (handleOnOpenSearchModal)="openSearchModal($event)"></app-today-details>
        <app-daily-forecast [weather]="weather"></app-daily-forecast>
    </section>
</div>