.current-forecast-wrapper {
    background-image: var(--background-cover);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-forecast-content {
    background-image: var(--background-image);
    background-position: var(--background-position);
    background-size: cover;
    width: 90%;
    height: 90%;
    max-width: 2000px;
    max-height: 1000px;
    box-shadow: var(--box-shadow-shape);
    position: relative;

    .heart {
        position: absolute;
        top: 30px;
        right: 50px;
        font-size: 35px;
        cursor: pointer;
        transition: color .3s linear;

        &:hover {
            color: red;
        }
    }
}

@media (max-width:750px) {
    .heart {
        top: 20px !important;
        right: 30px !important;
    }
}

@media (max-width:550px) {
    .current-forecast-wrapper {
        height: 100%;
        width: 100%;
        min-height: 94vh;
        padding: 3% 0;

        .current-forecast-content {
            width: 94%;
            min-height: 90vh;
        }
    }
}

@media (max-height:650px) {
    .current-forecast-wrapper {
        height: 100%;
        width: 100%;
        min-height: 94vh;
        padding: 3% 0;

        .current-forecast-content {
            width: 94%;
            min-height: 90vh;
            padding-bottom: 150px;
        }
    }
}